@model CL2.Models.Administracion

@{
    ViewData["Title"] = "Detalles de Administración";
}
<div class="container-fluid px-4">
    <h1 class="mt-4">Detalles de Administración</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.AdministracionPeriodo)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.AdministracionPeriodo)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PresidenteRepublica)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PresidenteRepublica)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PrimerAnno)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PrimerAnno)
            </dd>
            <dt class="col-sm-3">
                Último Año
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.UltimoAnno)
            </dd>
        </dl>
        <hr />
    </div>
    <div class="form-group btn-group mt-lg-4" role="group">
        <a asp-controller="Utilidades" asp-action="Index" class=" btn btn-dark">Volver</a>
        <a asp-action="Edit" asp-route-id="@Model.AdministracionID"
           class="btn btn-warning">Editar</a>

    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>