@model IEnumerable<CL2.Models.IntegrantesPlenario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalle_Puesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diputado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plenario)
            </th>
            <th>
        @*        @Html.DisplayNameFor(model => model.Fraccion)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle_Puesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diputado.NombreDiputado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plenario.PlenarioID)
            </td>
            <td>
          @*      @Html.DisplayFor(modelItem => item.Fraccion.NombreFraccion)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
