@model IEnumerable<CL2.Models.DiscusionComision>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiputadoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumenComentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetalleComentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoComentario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiputadoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResumenComentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleComentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoComentario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
