@model IEnumerable<CL2.Models.SesionPlenario>

@{
    ViewData["Title"] = "Sesión de Plenarios";
}

<partial name="_NotificationPartial" />

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
</head>
<body class="sb-nav-fixed">

    <main>

        @* Encabezado de Sesión Plenarios y Breadcrumb *@
        <div class="container-fluid px-4">
            <h1 class="mt-4">Sesiones de Plenario</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                <li class="breadcrumb-item active">Sesiones de Plenario</li>
            </ol>
            <div class="mt-4">
                <asp:Button OnClick="location.href = '@Url.Action("Create","SesionPlenarios")'" runat="server" ID="agregar" />
            </div>



            @* Tabla de Sesiones de Plenarios *@
            <table class="table table-bordered mt-lg-3  table-hover table-responsive-sm" id="tablaSmart">
                <thead class="thead-dark text-white">
                    <tr class="text-lg-center ">
                        <th>
                            @Html.DisplayName("Plenario")
                        </th>
                        <th>
                            @Html.DisplayName("Número de Sesión")
                        </th>
                        <th>
                            @Html.DisplayName("Período de Sesión")
                        </th>
                        <th>
                            @Html.DisplayName("Tipo de Sesión")
                        </th>
                        <th>
                            @Html.DisplayName("Fecha de Sesión")
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody class="text-lg-center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Plenario.Administracion.AdministracionPeriodo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumeroSesion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PeriodoSesionPlenario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TipoSesionPlenario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaSesionPlenario)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.SesionPlenarioID" class="badge badge-warning">Editar</a> |
                                <a asp-action="Details" asp-route-id="@item.SesionPlenarioID" class="badge badge-primary">Detalles</a> |
                                <a asp-action="Delete" asp-route-id="@item.SesionPlenarioID" class="badge badge-danger">Eliminar</a>
                                <br />
                                <a asp-controller="ControlPolitico" asp-action="IndexSpecific" asp-route-id="@item.SesionPlenarioID" class="badge badge-info">Control Político</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </main>
</body>
</html>

  