@model CL2.Models.ProyectoLey

@{
    ViewData["Title"] = "Eliminar Proyecto de Ley";
}

<h1 class="mt-lg-4">¿Desea eliminar este Proyecto de Ley?</h1>
<div>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="ProyectoLey" asp-action="Index">Proyectos de Ley Listado</a></li>
        <li class="breadcrumb-item active">Eliminar Proyecto de Ley</li>
    </ol>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroExpediente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroExpediente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TituloCorto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TituloCorto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TituloCompleto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TituloCompleto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPresentacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPresentacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadFirmas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadFirmas)
        </dd>
    </dl>

    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProyectoLeyID" />
        <div class="form-group btn-group mt-lg-4" role="group">
            <a asp-action="Index" class="btn btn-dark">Volver</a>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
       
    </form>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>