@model IEnumerable<CL2.Models.Diputado>

@{
    ViewData["Title"] = "Diputados";
}

<partial name="_NotificationPartial" />

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link runat="server" rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="favicon.ico" type="image/ico" />
</head>
    <body class="sb-nav-fixed">

        <main>
            <!--Encabezado de Diputados y breadcrumbs-->
            <div class="container-fluid px-4">

                <!--Titulo de pagina-->
                <h1 class="mt-4">Diputados</h1>

                <!--Navegacion de encabezados-->
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item active">Diputados</li>
                </ol>
                <div class="mt-4">
                    <asp:Button OnClick="location.href = '@Url.Action("Create","Diputado")'" runat="server" ID="agregar" />
                </div>

                <!--Tabla de Diputados-->
                <table class="table table-bordered mt-lg-3  table-hover table-responsive-sm" id="tablaSmart">
                    <thead class="thead-dark text-white">
                        <tr class="text-lg-center ">
                            <th>
                                Nombre Completo
                            </th>
                            <th>
                                Correo Electrónico
                            </th>
                            <th>
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <!--cuerpo de tabla-->
                    <tbody id="diputados">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombreCompleto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CorreoDiputado)
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.DiputadoID" class="badge badge-warning">Editar</a> |
                                    <a asp-action="Details" asp-route-id="@item.DiputadoID" class="badge badge-primary">Detalles</a> |
                                    <a asp-action="Delete" asp-route-id="@item.DiputadoID" class="badge badge-danger">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </main>
    </body>
</html>
